version: 2
jobs:
  build:
    filters:
      branches:
        only:
          - main
    docker:
      - image: circleci/node:latest

    working_directory: ~/repo

    steps:
      - setup_remote_docker:
          version: 19.03.13

      - checkout

      - add_ssh_keys:
          fingerprints:
            - "cb:85:5a:0d:8b:a1:34:9c:ce:7d:b8:ed:8d:6b:49:32"

      - run: echo $DOCKERHUB_USER $DOCKERHUB_PASSWORD $CLIENT_ID_SECRET

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn build

      - run: export VERSION=$(node -p "require('./package.json').version") && docker build -t sakuru9/music-searcher-ui:latest -t sakuru9/music-searcher-ui:$VERSION .

      - run: docker login -u=$DOCKERHUB_USER -p=$DOCKERHUB_PASSWORD
      - run: export VERSION=$(node -p "require('./package.json').version") && docker push sakuru9/music-searcher-ui:$VERSION
      - run: docker push sakuru9/music-searcher-ui:latest
      - run: ssh -o StrictHostKeyChecking=no $SSH_USER@henril.com  -t "cd service-files; git pull; cd music-searcher; docker login; docker pull sakuru9/music-searcher-ui:latest; docker-compose -f music-searcher-ui.yml up -d"
